APP_ENV=production
APP_DEBUG=false
APP_KEY=someRandomString

ADMIN_EMAIL=
ADMIN_PASSWORD=

COMPANY_REPRESENTATIVE_EMAIL=
COMPANY_REPRESENTATIVE_PASSWORD=

DB_HOST=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=mailgun
MAIL_HOST=smtp.mailgun.org
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=null

MAILGUN_DOMAIN=
MAILGUN_SECRET=