$primaryColour: black;

.header .navbar-nav {

  > .active > a {
    color: $primaryColour;
  }

  > li > a:hover, > .active > a {
    border-bottom: solid 2px $primaryColour;
  }

  > li:hover > a {
    color: $primaryColour;
  }
}

.header .dropdown-menu {
  border-top: solid 2px $primaryColour;
}
