$primaryColor: black;
$successColor: #6fb679;
$backgroundSuccessColor: #f0fff0;
$backgroundErrorColor: #ff0033;
$errorColor: #ff0033;

.header .navbar-nav {

  > .active > a {
    color: $primaryColor;
  }

  > li > a:hover, > .active > a {
    border-bottom: solid 2px $primaryColor;
  }

  > li:hover > a {
    color: $primaryColor;
  }
}

.header .dropdown-menu {
  border-top: solid 2px $primaryColor;
}

a:hover {
  color: $primaryColor;
}

.headline h2, .headline h3, .headline h4 {
  border-bottom: 2px solid $primaryColor;
}

.content-boxes-v6:hover i {
  background: $primaryColor;
}

a {
  color: $primaryColor;
}

.content-boxes-v4 i {
  color: $primaryColor;
}

.color-green {
  color: $primaryColor;
}

.rgba-default {
  background-color: $primaryColor;
}

.header .navbar-toggle, .header .navbar-toggle:hover, .header .navbar-toggle:focus {
}
